@media screen and (max-width: 768px) {
    #menu-btn {
        display: block;
    }

    #nav-menu {
        display: none;
        background: #00509e;
        text-align: center;
        padding: 1rem;
    }

    #nav-menu.show {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    /* Hover Effect for Larger Screens */
    .image-grid img:hover {
        transform: scale(1.1);
    }

    main {
        grid-template-columns: 30% 70%;
    }
}
