body {
    font-family: Roboto, sans-serif;
}

header, footer, h2 {
    background-color: #004080;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 20%;
    padding: 0.5rem;
}

header span {
    display: inline-block;
    width: 50%;
    margin: auto;
    padding-right: 0.5rem;
    color: #ffffff;
    font-size: 28px;
    align-self: center;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-overlay {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    white-space: nowrap;
    border-radius: 5px;
}

.map {
    margin: 2rem 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000000;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
}

#menu::before {
    content: "≡";
}

.show a {
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;
}

#menu.show::before {
    content: "X";
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

footer {
    padding: 1rem;
}

footer img {
    width: 10%;
}