body {
    font-family: Roboto, sans-serif;
}

header,
footer,
h2 {
    background-color: #004080;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 20%;
    padding: 0.5rem;
}

header span {
    display: inline-block;
    width: 50%;
    margin: auto;
    padding-right: 0.5rem;
    color: #ffffff;
    font-size: 28px;
    align-self: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000000;
}

nav a {
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
    background-color: #633200;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 0.2rem;
    font-size: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section p {
    text-align: center;
}

section img {
    width: 10%;
}

footer {
    padding: 1rem;
}

footer img {
    width: 10%;
}

footer p {
    color: #ffffff;
    text-align: center;
}

#lastModified {
    color: #e9d700;
}

header,
footer,
nav {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}